/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: none; /* Remove background color */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin: 50px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* You can set a background for the flex box */
}

.image-container {
  width: 30%;
}

.flex-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.quote-container {
  width: 70%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.quote-text {
  font-size: 1.5rem;
  font-style: italic;
  color: #333;
}

/* General App styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('https://images.pexels.com/photos/3476312/pexels-photo-3476312.jpeg?cs=srgb&dl=pexels-venelin-dimitrov-1873912-3476312.jpg&fm=jpg');

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
